In [1]:
import tensorflow
import pandas as pd
from tensorflow import keras
from tensorflow.keras import layers
from Standard_Scaler import StandardScaler

In [2]:
data = pd.read_csv("Boston.csv")
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,1.23247,0.0,8.14,0.0,0.538,6.142,91.7,3.9769,4.0,307.0,21.0,396.90,18.72,15.2
1,0.02177,82.5,2.03,0.0,0.415,7.610,15.7,6.2700,2.0,348.0,14.7,395.38,3.11,42.3
2,4.89822,0.0,18.10,0.0,0.631,4.970,100.0,1.3325,24.0,666.0,20.2,375.52,3.26,50.0
3,0.03961,0.0,5.19,0.0,0.515,6.037,34.5,5.9853,5.0,224.0,20.2,396.90,8.01,21.1
4,3.69311,0.0,18.10,0.0,0.713,6.376,88.4,2.5671,24.0,666.0,20.2,391.43,14.65,17.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,3.47428,0.0,18.10,1.0,0.718,8.780,82.9,1.9047,24.0,666.0,20.2,354.55,5.29,21.9
502,0.07896,0.0,12.83,0.0,0.437,6.273,6.0,4.2515,5.0,398.0,18.7,394.92,6.78,24.1
503,1.83377,0.0,19.58,1.0,0.605,7.802,98.2,2.0407,5.0,403.0,14.7,389.61,1.92,50.0
504,0.35809,0.0,6.20,1.0,0.507,6.951,88.5,2.8617,8.0,307.0,17.4,391.70,9.71,26.7
505,2.92400,0.0,19.58,0.0,0.605,6.101,93.0,2.2834,5.0,403.0,14.7,240.16,9.81,25.0

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(14)
memory usage: 55.5 KB

In [4]:
columns = data.columns
columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [5]:
X = data.drop(columns=["MEDV"]).to_numpy()
Y = data.MEDV.to_numpy()

In [6]:
scale = StandardScaler()
X_scale,Y_scale = scale.fit(X,Y)

In [7]:
X_scale.shape

(506, 13)

In [8]:
Y_scale.shape

(506,)

In [9]:
x_train = X_scale[:400]
x_test = X_scale[400:480]

y_train = Y_scale[:400]
y_test = Y_scale[400:480]

In [10]:
model = keras.Sequential([
        layers.Dense(200,activation='relu'),
        layers.Dropout(0.1),
        layers.Dense(100,activation='relu'),
        layers.Dropout(0.1),
        layers.Dense(10),
        layers.Dense(1),
    ])

In [11]:
model.compile(optimizer = keras.optimizers.SGD(learning_rate=0.01),
             loss = keras.losses.MeanSquaredError())

In [12]:
model.fit(x_train,y_train,epochs=40,batch_size=1)

Epoch 1/40
400/400 [==============================] - 1s 2ms/step - loss: 0.3359
Epoch 2/40
400/400 [==============================] - 1s 2ms/step - loss: 0.1850
Epoch 3/40
400/400 [==============================] - 1s 2ms/step - loss: 0.1582
Epoch 4/40
400/400 [==============================] - 1s 2ms/step - loss: 0.1742
Epoch 5/40
400/400 [==============================] - 1s 2ms/step - loss: 0.1551
Epoch 6/40
400/400 [==============================] - 1s 1ms/step - loss: 0.1424
Epoch 7/40
400/400 [==============================] - 1s 1ms/step - loss: 0.1645
Epoch 8/40
400/400 [==============================] - 1s 2ms/step - loss: 0.1276
Epoch 9/40
400/400 [==============================] - 1s 2ms/step - loss: 0.1128
Epoch 10/40
400/400 [==============================] - 1s 2ms/step - loss: 0.1115
Epoch 11/40
400/400 [==============================] - 1s 2ms/step - loss: 0.0894
Epoch 12/40
400/400 [==============================] - 1s 2ms/step - loss: 0.1067
Epoch 13/40
400/400 [==============================] - 1s 2ms/step - loss: 0.1068
Epoch 14/40
400/400 [==============================] - 1s 2ms/step - loss: 0.1166
Epoch 15/40
400/400 [==============================] - 1s 2ms/step - loss: 0.1108
Epoch 16/40
400/400 [==============================] - 1s 1ms/step - loss: 0.0984
Epoch 17/40
400/400 [==============================] - 1s 2ms/step - loss: 0.0920
Epoch 18/40
400/400 [==============================] - 1s 1ms/step - loss: 0.1002
Epoch 19/40
400/400 [==============================] - 1s 1ms/step - loss: 0.0916
Epoch 20/40
400/400 [==============================] - 1s 2ms/step - loss: 0.0865
Epoch 21/40
400/400 [==============================] - 1s 2ms/step - loss: 0.0901
Epoch 22/40
400/400 [==============================] - 1s 2ms/step - loss: 0.0732
Epoch 23/40
400/400 [==============================] - 1s 2ms/step - loss: 0.0690
Epoch 24/40
400/400 [==============================] - 1s 2ms/step - loss: 0.0857
Epoch 25/40
400/400 [==============================] - 1s 2ms/step - loss: 0.0799
Epoch 26/40
400/400 [==============================] - 1s 1ms/step - loss: 0.0820
Epoch 27/40
400/400 [==============================] - 1s 2ms/step - loss: 0.0775
Epoch 28/40
400/400 [==============================] - 1s 2ms/step - loss: 0.0812
Epoch 29/40
400/400 [==============================] - 1s 2ms/step - loss: 0.0843
Epoch 30/40
400/400 [==============================] - 1s 1ms/step - loss: 0.0756
Epoch 31/40
400/400 [==============================] - 1s 1ms/step - loss: 0.0805
Epoch 32/40
400/400 [==============================] - 1s 2ms/step - loss: 0.0782
Epoch 33/40
400/400 [==============================] - 1s 1ms/step - loss: 0.0683
Epoch 34/40
400/400 [==============================] - 1s 2ms/step - loss: 0.0758
Epoch 35/40
400/400 [==============================] - 1s 2ms/step - loss: 0.0669
Epoch 36/40
400/400 [==============================] - 1s 2ms/step - loss: 0.0889
Epoch 37/40
400/400 [==============================] - 1s 1ms/step - loss: 0.0666
Epoch 38/40
400/400 [==============================] - 1s 2ms/step - loss: 0.0715
Epoch 39/40
400/400 [==============================] - 1s 2ms/step - loss: 0.0657
Epoch 40/40
400/400 [==============================] - 1s 2ms/step - loss: 0.0737

In [13]:
model.evaluate(x_test, y_test)

3/3 [==============================] - 0s 6ms/step - loss: 0.1038

0.10379934310913086

In [14]:
parameters = model.get_weights()

In [15]:
model.save("model.h5")